flake8
flake8-bugbear
autopep8
pep8-naming
pre-commit
pytest
pytest-cov
pytest-xdist
pytest-only
pytest-mock
watchdog
mypy
isort
tox==3.24.3
coverage
wily
rope
twine
pydocstyle
jsonschema==4.23.0
marshmallow==3.13.0
