flake8
flake8-bugbear
autopep8
pep8-naming
pre-commit
pytest
pytest-cov
pytest-xdist
pytest-only
pytest-mock
watchdog
mypy
isort
tox==3.14.5
coverage
wily
rope
twine
pydocstyle
jsonschema==3.0.2
marshmallow==3.5.1
