[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
autopep8 = "*"
pep8-naming = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-only = "*"
watchdog = "*"
mypy = "*"
isort = "*"
tox = ">=3.13.2"
coverage = "*"
wily = "*"
jsonschema = "==3.2.0"
marshmallow = ">=3.2.1"
pyclean-py = "*"
pytest-mock = "*"
rope = "*"
twine = "*"
pydocstyle = "*"
tox-pipenv-install = "*"
