[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
mock = "*"
flake8 = "*"
flake8-bugbear = "*"
autopep8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-only = "*"
watchdog = "*"
mypy = "*"
isort = "*"
tox = "*"
coverage = "*"
# [extra-packages]
# jsonschema = "*"
# marshmallow = "*"
wily = "*"
